<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCst51be6f0pktIEoF6D-x_p-SJPI3bDrI</string>
	<key>GCM_SENDER_ID</key>
	<string>838224449113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jpdev.IphoneIpadFirebase</string>
	<key>PROJECT_ID</key>
	<string>iponeipadfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>iponeipadfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838224449113:ios:86c768b415b1ad6ee2eb48</string>
</dict>
</plist>